@charset "UTF-8";

/* 
    ATUALIZADA:

Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.

*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: radial-gradient(rgba(187, 183, 183, 0.534), rgb(15, 15, 15));
    }

    section#login {
        width: 80vw;
    }

    section#login>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login>div#formulario {
        width: 100%;


        background-color: rgb(245, 92, 92);
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image: radial-gradient(rgba(187, 183, 183, 0.534), rgb(15, 15, 15));
    }

    section#login {
        width: 1024px;
    }

    section#login>div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        width: 100%;

        background-color: rgb(141, 141, 231);
    }

}